@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    scroll-behavior: smooth;
}
section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fc4a55;
    transition: 1s;
}
.bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
position: relative;
font-weight: 600;
color: #fff;
text-decoration: none;
font-size: 2em;
}
header .navigation {
    position: relative;
    display: flex;
}
header .navigation li {
    list-style: none;
}
header .navigation li a {
    display: inline-block;
    color: #fff;
    font-weight: 100;
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-variant: small-caps;
    letter-spacing: 2.5px;
    height: 35px;
}
header .navigation li a.active,
header .navigation li a:hover {
    background: #fff;
    color: #333;
    transition: 1s;
}
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox {
    position: relative;
    max-width: 600px;
}
.content .textBox h2 {
    color: #fff;
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 700;
}
.content .textBox p {
    color: #fff;
    margin-top: 20px;
}
.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #333;
    border-radius: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox {
    position: relative;
    z-index: 1;
    width: 600px;
    display: flex;
    justify-content: flex-end;
}
.content .imgBox img {
    max-width: 400px;
    margin-right: 50px;
}

.thumb {
    position: absolute;
    left: 40%;
    bottom: 20px;
    transform: translateX(-50px);
    display: flex;
}
.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.5s;
    height: 70px;
    background: rgba(255,255,255,0.1);
    padding: 5px;
    border: 2px solid rgba(255,255,255,0.25)
}
.thumb li.active {
    border: 2px solid rgba(255,255,255,1);
}
.thumb li::before {
    position: absolute;
    top: -200px;
    left: -100px;
    content: attr(data-text);
    white-space: nowrap;
    font-size: 8em;
    color: rgba(0,0,0,0.05);
    opacity: 0;
    font-weight: 700;
    pointer-events: none;
}
.thumb li.active::before {
    opacity: 1;
}
.thumb li img {
    max-width: 50px;
}
.sci {
    position: absolute;
    top: 50%;
    transform: translateX(-50px);
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li {
    list-style: none;
}
.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.title_5 {
    text-align: center;
    font-size: 2.5em; 
    margin-bottom: 1em;
}
#section_4 {
    background-color: #7FFFD4;
}
.inputBox input {
    border-radius: 5px;
    border: 1px solid transparent;
    width: 20em;
}
textarea {
    width: 24em;
    height: 10em;
}
.inputBox button {
    width: 10em;
    height: 2em;
    cursor:initial;
    border-radius: 5px;
    border: 1px solid solid;
}

@media (min-width: 350px) and (max-width: 500px) {

.fruits {
    height: 17em !important;
}
.thumb {
    left: 25%
}
.title_5 {
    font-size: 2em;
}
}
@media (max-width: 768px) {

section {
    padding: 1em !important;
}
.fruits {
    width: 70%;
    padding-top: 3em;
}


}
@media (max-width: 991px) {
    
    .bg::before {
        display: none;
    }
    header {
        padding: 20px;
    }
    section {
        padding: 20px;
        padding-bottom: 120px;
    }
    .content {
        margin-top: 5px !important;
        padding-top: 5px !important;
        flex-direction: column;
    }
    .content .textBox {
        max-width: 100%;
    }
    .content .textBox h2{
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    .content .imgBox {
        max-width: 100%;
        justify-content: center;
    }
    .content .imgBox img {
        max-width: 20em;
        height: 22em;
        margin-left: 4em;
    }
    .thumb li {
        margin: 0 3px;
        height: 55px;
    }
    .thumb li img {
        max-width: 40px;
    }
    .thumb li::before {
        position: absolute;
        top: -150px;
        left: 0;
        font-size: 6em;
    }
    .sci {
        background: rgba(0,0,0,0.1);
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    header .navigation {
        display: none;
        padding-top: 20px;
    }
    header .navigation.active {
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: salmon;
        z-index: 9000;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }
    header .navigation li a { 
        font-size: 1.2em;
        margin: 0 5px;
    }

    header > .navigation {
        transition: all 0.3s ease-in;
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(./img/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10000;
        
    }
   .toggle.active {
        position: fixed;
        right: 20px;
        background: url(./img/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
}
#section_2 .text {
    position: absolute;
    top: -60px;
    left: 0px;
    font-size: 3em;
    font-weight: 600;
}

.info {
    margin-bottom: 2em;
}
.info li {
    padding-top: 1em;
}
.inputBox{
    padding-top: 1em;
}

/* FORM SECTION */
/* FORM SECTION */
/* FORM SECTION */
/* FORM SECTION */
/* FORM SECTION */

.baloon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 35px;
    right: 30px;
    filter: invert(1);

}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  

  @media (max-width: 420px) {
    textarea {
        width: 20em;
        height: 7em;
        padding: 1em;
      }

      .login-box {
        width: 90%;
        height: 42em;
        padding: 1em;
      }
      .baloon {
          left: 45%;
          top: 50px;
      }
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4;

    transition: 1s
}
  
  .login-box a span {
    position: absolute;
    display: block;
  }

  .btn {
    padding: 8px 20px;
    border-radius: 0;
    overflow: hidden;
}
.btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, var(--primary-color), transparent);
    transform: translateX(-100%);
    transition: 0.6s;
}
.btn:hover {
    background: transparent;
    box-shadow: 0 0 20px 10px rgba(51, 152, 219, 0.5);
}
.btn:hover::before {
    transform: translateX(100%);
}